@model User
<div class="row layout-top-spacing">
    <div id="custom_styles" class="col-lg-12 layout-spacing col-md-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>پروفابل من</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">

                <form form class="prfoleForm" id="prfoleForm" action="javascript:void(0);" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="validationCustom01">نام</label>
                            <input name="Name" type="text" class="form-control" placeholder="نام" value="@Model.Name" required="">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationCustom01">نام خانوادگی</label>
                            <input name="Family" type="text" class="form-control" placeholder="نام خانوادگی" value="@Model.Family" required="">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationCustom01">نام پدر</label>
                            <input name="Father" type="text" class="form-control" placeholder="نام پدر" value="@Model.Father" required="">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-4">
                            <label for="validationCustom01"> تلفن  </label>
                            <input name="Phone" type="text" class="form-control" placeholder="  تلفن " value="@Model.Phone" required="">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label for="validationCustom01"> ایمیل  </label>
                            <input name="Email" type="email" class="form-control" placeholder=" ایمیل  " value="@Model.Email" required="">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label for="validationCustom01"> جنسیت  </label>
                            <select name="Gender" class="custom-select" required="">
                                <option value="" selected="@Model.Gender">لطفا انتخاب کنید</option>
                                <option value="1">مرد</option>
                                <option value="0">زن</option>
                            </select>
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-4 mb-4">
                            <label for="validationCustom01"> تاریخ تولد  </label>
                            <input name="BirthDate" type="text" class="form-control" placeholder=" آدرس  " value="@Model.BirthDate">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>

                        <div class="col-md-8 mb-4">
                            <label for="validationCustom01"> آدرس  </label>
                            <input name="Address" type="text" class="form-control" placeholder=" آدرس  " value="@Model.Address">
                            <div class="invalid-feedback">
                                وارد کردن این فیلد الزامیست
                            </div>
                        </div>

                        <button class="mr-2 btn btn-primary  mixin">Mixin</button>


                    </div>
                    <div class="field-wrapper text-right">
                        <button class="btn btn-primary mt-3" type="submit">ذخیره  </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('.mixin').on('click', function () {
        const toast = swal.mixin({
            toast: true,
            position: 'bottom-start',
            showConfirmButton: false,
            timer: 5000,
            padding: '1em',
            background: '#5fc15e',

        });

        toast({
            type: 'success',
            title: 'عملیات با موفقیت انجام شد',
            padding: '1em',
        })

    })

</script>

